* {
  --primary: rgb(170, 0, 0);
}
a {
  text-decoration: none;
  color: black;
  padding: 2px;
}
a:hover {
  color: rgb(117, 117, 117);
}
#header {
  height: 110px;
  background-color: var(--primary);
}
p {
  font-size: large;
}
nav {
  float: right;
  padding: 15px;
  display: flex;
  flex-direction: row;
  padding-top: 60px;
}
nav a {
  color: #f0f0f0;
  font-size: large;
  padding: 30px;
}
header h1 {
  float: left;
  color: white;
  padding-left: 25px;
  font-size: 60px;
}
section {
  text-align: center;
  margin-bottom: 5px;
}

.about {
  width: 100%;
  background-color: darkgray;
  height: 200px;
  columns: 3;
  column-gap: 5px;
  column-rule: 2px solid var(--primary);
  column-width: auto;
  display: block;
  padding-top: 20px;
}
.about h2 {
  font-size: 80px;
  text-emphasis: strong;
}
.projects {
  width: 100%;
  height: 300%;
  background-color: darkgray;
}
.projects h2 {
  font-size: 60px;
  display: inline-flex;
  width: 10%;
  margin-left: 10px;
}
.P:hover,
.R:hover,
.O:hover,
.J:hover,
.E:hover,
.C:hover,
.T:hover,
.S:hover {
  color: var(--primary);
}

.resume {
  width: 100%;
  height: 200%;
  background-color: darkgray;
  display: inline;
  float: left;
}
.footer {
  width: 100%;
  height: 95%;
  background-color: darkgray;
  display: inline;
  float: right;
  padding-bottom: 40px;
}
.resume h2,
.footer h2 {
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 60px;
  padding-bottom: 10px;
}

address {
  font-size: 30px;
  display: block;
  margin-top: 30px;
}

.images img {
  width: 80%;
  padding: 30px;
}
.half img {
  width: 40%;
  display: inline-block;
  overflow: auto;
  padding: 30px;
}
.resume img {
  height: 80%;
  padding: 30px;
}
.images img:hover,
.half img:hover,
.resume img:hover {
  background-color: #79797994;
}
@media only screen and (max-width: 600px) {
}
